---
import LoginForm from '../components/LoginForm.jsx';
import '../styles/login.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
  </head>
  <body>
    <LoginForm />
  </body>
</html>
